.header__wripper {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
    padding-bottom: 70px;
}
.header__container {
    display: flex;
    justify-content: space-between;
}

.search {
font-size: 17px;
line-height: 22px;
}

.search {
  position: relative;
  height: 100%;
  padding-left: 41px;
}

.search::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 2px;
  background-image: url("/img/search.svg");
}

.nav {
    font-size: 17px;
    line-height: 22px;
    margin-right: 47px;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {
    position: relative;
}
.nav__item:not(:last-child) {
    margin-right: 42px;
}
.nav a::after {
    position: absolute;
    left: 0;
    bottom: -12px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.nav a:hover::after {
    bottom: -7px;
    opacity: 1;
}
.header__icons {
    display: flex;
    row-gap: 25px;
}
.header__icons-basket {
    width: 24px;
    height: 24px;
    margin-right: 25px;
}
.header__icons-login {
    width: 24px;
    height: 24px;
}