* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
}

input,
button {
    border: none;
    font-family: inherit;
    font-size: inherit;
}

input:focus,
button:focus {
    outline: none;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input[type="submit"] {
    background-color: none;
    cursor: pointer;
}

input:focus, button:focus {
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}